<div>
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Comprar</th>
            </tr>
        </thead>
        <tbody>
            {{#each payload}}
            <tr>
                <th>{{this.title}}</th>
                <th>{{this.description}}</th>
                <th>{{this.price}}</th>
                <th>{{this.stock}}</th>
                <th><button>Comprar</button></th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="footer">
    {{#if hasPrevPage}}<a id="btnPrev" href={{prevLink}}>Anterior</a>{{/if}}
    <p>Pagina actual: {{page}}</p>
    {{#if hasNextPage}}<a id="btnNext" href={{nextLink}} >Siguiente</a>{{/if}}
</div>

