<div>
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>titulo</th>
                <th>descripción</th>
                <th>Precio</th>
                <th>stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each payload}}
            <tr>
                <th>{{this.title}}</th>
                <th>{{this.description}}</th>
                <th>{{this.price}}</th>
                <th>{{this.stock}}</th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>
<div class="footer">
    <p>Total pages: {{totalPages}}</p>
    <br>
    <a id="btnPrev" href="#"  {{#unless hasPrevPage}} style="display: none;"{{/unless}}>Anterior</a>
    <a id="btnNext" href="#" {{#unless hasNextPage}} style="display: none;"{{/unless}}>Siguiente</a>
</div>
<script>
    document.querySelector(`#btnPrev`).onclick = ()=>{
        console.log("Entro")
        const url = `/?page=${prevPage}`
        document.location.href = url
    }
    document.querySelector(`#btnNext`).onclick = () => {
        console.log("Entro")
        const url = `/?page=${nextPage}`
        document.location.href = url
        }
</script>